* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.clearfix {
    clear: both;
}

.header-banner {
    padding-top: 35px;
    padding-bottom: 100px;
    color: #ffffff;
    font-family: Helvetica, serif;
    font-weight: 100;
    background-image: url("https://grapesjs.com/img/bg-gr-v.png"), url("https://grapesjs.com/img/work-desk.jpg");
    background-attachment: scroll, scroll;
    background-position: left top, center center;
    background-repeat: repeat-y, no-repeat;
    background-size: contain, cover;
}

.container-width {
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
}

.logo-container {
    float: left;
    width: 50%;
}

.logo {
    background-color: #fff;
    border-radius: 5px;
    width: 130px;
    padding: 10px;
    min-height: 30px;
    text-align: center;
    line-height: 30px;
    color: #4d114f;
    font-size: 23px;
}

.menu {
    float: right;
    width: 50%;
}

.menu-item {
    float: right;
    font-size: 15px;
    color: #eee;
    width: 130px;
    padding: 10px;
    min-height: 50px;
    text-align: center;
    line-height: 30px;
    font-weight: 400;
}

.flex-sect {
    background-color: #fafafa;
    padding: 100px 0;
    font-family: Helvetica, serif;
}

.flex-title {
    margin-bottom: 15px;
    font-size: 2em;
    text-align: center;
    font-weight: 700;
    color: #555;
    padding: 5px;
}

.cards {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}

.card {
    background-color: white;
    height: 300px;
    width: 300px;
    margin-bottom: 30px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    transition: all 0.5s ease;
    font-weight: 100;
    overflow: hidden;
}

.card:hover {
    margin-top: -5px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
    height: 155px;
    background-image: url("https://placehold.it/350x250/78c5d6/fff/image1.jpg");
    background-size: cover;
    background-position: center center;
}

.card-header.ch2 {
    background-image: url("https://placehold.it/350x250/459ba8/fff/image2.jpg");
}

.card-header.ch3 {
    background-image: url("https://placehold.it/350x250/79c267/fff/image3.jpg");
}

.card-header.ch4 {
    background-image: url("https://placehold.it/350x250/c5d647/fff/image4.jpg");
}

.card-header.ch5 {
    background-image: url("https://placehold.it/350x250/f28c33/fff/image5.jpg");
}

.card-header.ch6 {
    background-image: url("https://placehold.it/350x250/e868a2/fff/image6.jpg");
}

.card-body {
    padding: 15px 15px 5px 15px;
    color: #555;
}

.card-title {
    font-size: 1.4em;
    margin-bottom: 5px;
}

.footer-under {
    background-color: #312833;
    padding-bottom: 100px;
    padding-top: 100px;
    min-height: 500px;
    color: #eee;
    position: relative;
    font-weight: 100;
    font-family: Helvetica, serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#iznd {
    position: static;
    background-image: linear-gradient(#113333, #113333);
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    height: auto;
    color: #f2f2ed;
    padding: 35px 0 3% 0;
}

#ien7 {
    padding: 10px 10px 10px 10px;
    display: block;
    min-height: 40px;
    position: static;
    max-width: 25%;
    width: auto;
    font-family: Brush Script MT, sans-serif;
    font-size: 46px;
    letter-spacing: 1px;
    line-height: 39px;
    opacity: 1;
    background-image: linear-gradient(#113333, #113333);
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    color: #f2f2ed;
}

#i5lgs {
    font-family: Verdana New, Verdana, monospace;
    font-size: 22px;
}

#izqj {
    font-family: Verdana New, Verdana, monospace;
    font-size: 22px;
}

#i49v {
    font-size: 22px;
}

#ivk2 {
    font-family: Verdana New, Verdana, monospace;
    font-size: 30px;
    color: #f2f2ed;
    width: auto;
}

#i7j68h {
    font-size: 22px;
}

#ip7baf {
    min-height: 30%;
    background-image: linear-gradient(#113333, #113333);
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
}

#id6f89 {
    color: #f2f2ed;
    display: block;
    text-align: center;
    font-size: 22px;
}

#i91llm {
    font-family: Verdana New, Verdana, monospace;
    font-size: 22px;
}

#ia5dsi:hover {
    color: #000000;
}

#i7tuyd {
    background-image: linear-gradient(#f2f2ed, #f2f2ed);
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    padding-bottom: 10px !important;
}

#ii8n9n:hover {
    color: #000000;
}

#icd16f {
    background-image: linear-gradient(#f2f2ed, #f2f2ed);
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    padding-bottom: 10px !important;
}

#ilmozu {
    min-height: 70%;
}

#ipynqt {
    font-weight: 100;
    color: #868686;
    font-size: 18.4px;
}

#iz21mh:hover {
    color: #000000;
}

#iz21mh {
    background-image: linear-gradient(rgba(255, 255, 255, 0.58), rgba(255, 255, 255, 0.58));
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
}

#i2iwv5 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.67), rgba(255, 255, 255, 0.67)), url('../../images/dessert.jpg');
    background-repeat: repeat, repeat;
    background-position: left top, left top;
    background-attachment: scroll, scroll;
    background-size: auto, cover;
}

#ilrl1n {
    min-height: 70%;
}

#i6n6yr {
    font-weight: 100;
    color: #868686;
    font-size: 18.4px;
}

#iki5r3:hover {
    color: #000000;
}

#iki5r3 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.58), rgba(255, 255, 255, 0.58));
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
}

#it29ym {
    background-image: linear-gradient(rgba(255, 255, 255, 0.67), rgba(255, 255, 255, 0.67)), url('../../images/dessert.jpg');
    background-repeat: repeat, repeat;
    background-position: left top, left top;
    background-attachment: scroll, scroll;
    background-size: auto, cover;
}

#ixatfs {
    min-height: 70%;
}

#idm4wh {
    font-weight: 100;
    color: #868686;
    font-size: 18.4px;
}

#iyhx23:hover {
    color: #000000;
}

#iyhx23 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.58), rgba(255, 255, 255, 0.58));
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
}

#i695id {
    background-image: linear-gradient(rgba(255, 255, 255, 0.67), rgba(255, 255, 255, 0.67)), url('../../images/dessert.jpg');
    background-repeat: repeat, repeat;
    background-position: left top, left top;
    background-attachment: scroll, scroll;
    background-size: auto, cover;
}

#i8wsij {
    min-height: 70%;
}

#iu86m1 {
    font-weight: 100;
    color: #868686;
    font-size: 18.4px;
}

#iz26jd:hover {
    color: #000000;
}

#iz26jd {
    background-image: linear-gradient(rgba(255, 255, 255, 0.58), rgba(255, 255, 255, 0.58));
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
}

#ixda2b {
    background-image: linear-gradient(rgba(255, 255, 255, 0.67), rgba(255, 255, 255, 0.67)), url('../../images/dessert.jpg');
    background-repeat: repeat, repeat;
    background-position: left top, left top;
    background-attachment: scroll, scroll;
    background-size: auto, cover;
}

#iz5eu9 {
    min-height: 70%;
}

#io6guc {
    font-weight: 100;
    color: #868686;
    font-size: 18.4px;
}

#ioce7o:hover {
    color: #000000;
}

#ioce7o {
    background-image: linear-gradient(rgba(255, 255, 255, 0.58), rgba(255, 255, 255, 0.58));
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
}

#iag0rw {
    background-image: linear-gradient(rgba(255, 255, 255, 0.67), rgba(255, 255, 255, 0.67)), url('../../images/dessert.jpg');
    background-repeat: repeat, repeat;
    background-position: left top, left top;
    background-attachment: scroll, scroll;
    background-size: auto, cover;
}

#ijob1x {
    min-height: 70%;
}

#igohgt {
    font-weight: 100;
    color: #868686;
    font-size: 18.4px;
}

#ixsjbf:hover {
    color: #000000;
}

#ixsjbf {
    background-image: linear-gradient(rgba(255, 255, 255, 0.58), rgba(255, 255, 255, 0.58));
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
}


#i5bf5l {
    min-height: 70%;
}

#ihqmwj {
    font-weight: 100;
    color: #868686;
    font-size: 18.4px;
}

#ixqubr:hover {
    color: #000000;
}

#ixqubr {
    background-image: linear-gradient(rgba(255, 255, 255, 0.58), rgba(255, 255, 255, 0.58));
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
}

#ikn85c {
    min-height: 70%;
}

#izdmos {
    font-weight: 100;
    color: #868686;
    font-size: 18.4px;
}

#i4vht4:hover {
    color: #000000;
}

#i4vht4 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.58), rgba(255, 255, 255, 0.58));
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
}

#i0ukxh {
    min-height: 70%;
}

#i14sie {
    font-weight: 100;
    color: #868686;
    font-size: 18.4px;
}

#i69mj3:hover {
    color: #000000;
}

#i69mj3 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.58), rgba(255, 255, 255, 0.58));
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
}

#in96k5 {
    min-height: 70%;
}

#ip6ylm {
    font-weight: 100;
    color: #868686;
    font-size: 18.4px;
}

#ihmrh3:hover {
    color: #000000;
}

#ihmrh3 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.58), rgba(255, 255, 255, 0.58));
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
}

#ihtqhc {
    min-height: 70%;
}

#i594yt {
    font-weight: 100;
    color: #868686;
    font-size: 18.4px;
}

#iq9u9l:hover {
    color: #000000;
}

#iq9u9l {
    background-image: linear-gradient(rgba(255, 255, 255, 0.58), rgba(255, 255, 255, 0.58));
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
}

#im5orf {
    background-image: linear-gradient(rgba(255, 255, 255, 0.67), rgba(255, 255, 255, 0.67)), url('../../images/dessert.jpg');
    background-repeat: repeat, repeat;
    background-position: left top, left top;
    background-attachment: scroll, scroll;
    background-size: auto, cover;
}

#igh6qw {
    min-height: 70%;
}

#ifulvf {
    font-weight: 100;
    color: #868686;
    font-size: 18.4px;
}

#iw2nym:hover {
    color: #000000;
}

#iw2nym {
    background-image: linear-gradient(rgba(255, 255, 255, 0.58), rgba(255, 255, 255, 0.58));
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
}

#iqu9es {
    background-image: linear-gradient(rgba(255, 255, 255, 0.67), rgba(255, 255, 255, 0.67)), url('../../images/dessert.jpg');
    background-repeat: repeat, repeat;
    background-position: left top, left top;
    background-attachment: scroll, scroll;
    background-size: auto, cover;
}

#i9mhlj {
    min-height: 70%;
}

#iosv73 {
    font-weight: 100;
    color: #868686;
    font-size: 18.4px;
}

#isqja6:hover {
    color: #000000;
}

#isqja6 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.58), rgba(255, 255, 255, 0.58));
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
}

#i8dr1l {
    background-image: linear-gradient(rgba(255, 255, 255, 0.67), rgba(255, 255, 255, 0.67)), url('../../images/dessert.jpg');
    background-repeat: repeat, repeat;
    background-position: left top, left top;
    background-attachment: scroll, scroll;
    background-size: auto, cover;
}

#iquf9o {
    min-height: 70%;
}

#i0iwwt {
    font-weight: 100;
    color: #868686;
    font-size: 18.4px;
}

#ij7xve:hover {
    color: #000000;
}

#ij7xve {
    background-image: linear-gradient(rgba(255, 255, 255, 0.58), rgba(255, 255, 255, 0.58));
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
}

#ia2l8j {
    background-image: linear-gradient(rgba(255, 255, 255, 0.67), rgba(255, 255, 255, 0.67)), url('../../images/dessert.jpg');
    background-repeat: repeat, repeat;
    background-position: left top, left top;
    background-attachment: scroll, scroll;
    background-size: auto, cover;
}

#iivvia:hover {
    color: #000000;
}

#ierzys {
    background-image: linear-gradient(#f2f2ed, #f2f2ed);
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    padding-bottom: 10px !important;
}

#ik60i8 {
    min-height: 70%;
}

#iukaow {
    font-weight: 100;
    color: #868686;
    font-size: 18.4px;
}

#iyp9rh:hover {
    color: #000000;
}

#iyp9rh {
    background-image: linear-gradient(rgba(255, 255, 255, 0.58), rgba(255, 255, 255, 0.58));
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
}

#iql0uw {
    background-image: linear-gradient(rgba(255, 255, 255, 0.67), rgba(255, 255, 255, 0.67)), url('../../images/dessert.jpg');
    background-repeat: repeat, repeat;
    background-position: left top, left top;
    background-attachment: scroll, scroll;
    background-size: auto, cover;
}

#iamdf7 {
    min-height: 70%;
}

#ihjn4o {
    font-weight: 100;
    color: #868686;
    font-size: 18.4px;
}

#itgkug:hover {
    color: #000000;
}

#itgkug {
    background-image: linear-gradient(rgba(255, 255, 255, 0.58), rgba(255, 255, 255, 0.58));
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
}

#i3pp7p {
    background-image: linear-gradient(rgba(255, 255, 255, 0.67), rgba(255, 255, 255, 0.67)), url('../../images/dessert.jpg');
    background-repeat: repeat, repeat;
    background-position: left top, left top;
    background-attachment: scroll, scroll;
    background-size: auto, cover;
}

#ifb0g4 {
    min-height: 70%;
}

#i3mp05 {
    font-weight: 100;
    color: #868686;
    font-size: 18.4px;
}

#iozhxl:hover {
    color: #000000;
}

#iozhxl {
    background-image: linear-gradient(rgba(255, 255, 255, 0.58), rgba(255, 255, 255, 0.58));
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
}

#iiakkd {
    background-image: linear-gradient(rgba(255, 255, 255, 0.67), rgba(255, 255, 255, 0.67)), url('../../images/dessert.jpg');
    background-repeat: repeat, repeat;
    background-position: left top, left top;
    background-attachment: scroll, scroll;
    background-size: auto, cover;
}

#iitz75 {
    min-height: 70%;
}

#icbe4r {
    font-weight: 100;
    color: #868686;
    font-size: 18.4px;
}

#iucdch:hover {
    color: #000000;
}

#iucdch {
    background-image: linear-gradient(rgba(255, 255, 255, 0.58), rgba(255, 255, 255, 0.58));
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
}

#i70pk3 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.67), rgba(255, 255, 255, 0.67)), url('../../images/dessert.jpg');
    background-repeat: repeat, repeat;
    background-position: left top, left top;
    background-attachment: scroll, scroll;
    background-size: auto, cover;
}

#ingsqg:hover {
    color: #000000;
}

#ivl8bg {
    background-image: linear-gradient(#f2f2ed, #f2f2ed);
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    padding-bottom: 10px !important;
}

#i4xv9k {
    min-height: 70%;
}

#iao1y8 {
    font-weight: 100;
    color: #868686;
    font-size: 18.4px;
}

#i1s01q:hover {
    color: #000000;
}

#i1s01q {
    background-image: linear-gradient(rgba(255, 255, 255, 0.58), rgba(255, 255, 255, 0.58));
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
}

#i4ck34 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.67), rgba(255, 255, 255, 0.67)), url('../../images/dessert.jpg');
    background-repeat: repeat, repeat;
    background-position: left top, left top;
    background-attachment: scroll, scroll;
    background-size: auto, cover;
}

#i06htm {
    min-height: 70%;
}

#im23vl {
    font-weight: 100;
    color: #868686;
    font-size: 18.4px;
}

#io9imj:hover {
    color: #000000;
}

#io9imj {
    background-image: linear-gradient(rgba(255, 255, 255, 0.58), rgba(255, 255, 255, 0.58));
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
}

#icx6um {
    background-image: linear-gradient(rgba(255, 255, 255, 0.67), rgba(255, 255, 255, 0.67)), url('../../images/dessert.jpg');
    background-repeat: repeat, repeat;
    background-position: left top, left top;
    background-attachment: scroll, scroll;
    background-size: auto, cover;
}

#ik3bzk {
    min-height: 70%;
}

#i6r3ej {
    font-weight: 100;
    color: #868686;
    font-size: 18.4px;
}

#i2gpin:hover {
    color: #000000;
}

#i2gpin {
    background-image: linear-gradient(rgba(255, 255, 255, 0.58), rgba(255, 255, 255, 0.58));
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
}

#i2it2j {
    background-image: linear-gradient(rgba(255, 255, 255, 0.67), rgba(255, 255, 255, 0.67)), url('../../images/dessert.jpg');
    background-repeat: repeat, repeat;
    background-position: left top, left top;
    background-attachment: scroll, scroll;
    background-size: auto, cover;
}

#icm6jf {
    background-image: url('../../images/chocolate_cake.jpg');
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
}

#iag0rw {
    background-image: url('../../images/cake2.jpg');
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
}

#ixda2b {
    background-image: url('../../images/cake.jpg');
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
}

#i695id {
    background-image: url('../../images/cake-219595_1920.jpg');
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
}


#it29ym {
    background-image: url('../../images/quark-tart-2549438_1920.jpg');
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
}

#i2iwv5 {
    background-image: url('../../images/cheesecake-2867614_1920.jpg');
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
}


#innh7p {
    background-image: url('../../images/cookies-5841280_1920.jpg');
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
}

#icqfmm {
    background-image: url('../../images/candy-1961538_1920.jpg');
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
}

#irsl9c {
    background-image: url('../../images/daifuku-503776_1920.jpg');
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
}

#ijdf6e {
    background-image: url('../../images/coffee-3043424_1920.jpg');
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
}


#im5orf {
    background-image: url('../../images/coffee-983955_1920.jpg');
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
}

#iqu9es {
    background-image: url('../../images/latte-macchiato-3669136_1920.jpg');
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
}

#i8dr1l {
    background-image: url('../../images/matcha-latte-2356772_1920.jpg');
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
}

#ia2l8j {
    background-image: url('../../images/milkshake-5199609_1920.jpg');
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
}

#i4ck34 {
    background-image: url('../../images/food-5227740_1920.jpg');
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
}


#iql0uw {
    background-image: url('../../images/chocolate-cake-4446608_1920.jpg');
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
}

#i3pp7p {
    background-image: url('../../images/orange-cake-398966_1920.jpg');
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
}

#iiakkd {
    background-image: url('../../images/sweets-847918_1920.jpg');
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
}

#i70pk3 {
    background-image: url('../../images/cupcake-2588646_1920.jpg');
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
}

#icx6um {
    background-image: url('../../images/rum-1871512_1920.jpg');
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
}

#i2it2j {
    background-image: url('../../images/latte-art-2431160_1920.jpg');
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
}